# these configurations are for thetaskwarrior hook-script(s) at 
#
# to "activate them" include them from your .taskrc file, something like
# include ~/path/to/agenda.rc

uda.date.type=date
uda.date.label=Date

uda.date.indicator=!
color.uda.date=black on green
color.uda.date.none=green on black
urgency.uda.date.coefficient=1.2
uda.date.default=

report.agenda.description=agenda -- sched, due, until
report.agenda.labels=ID,Area,Project,Tags,Sched,Due,Until,Description,Urg
report.agenda.columns=id,area,project,tags.count,scheduled,due,until,description.count,urgency
report.agenda.filter= ( status:pending or status:waiting ) and ( schedule.any: or due.any: or until.any: )
report.agenda.sort=scheduled+,due+,until+,description+

report.agenda.description=agenda -- sched, due, until
report.agenda.labels=ID,Area,Project,Tags,Sched,Due,Until,Description,Urg
report.agenda.columns=id,area,project,tags.count,scheduled,due,until,description.count,urgency
report.agenda.filter= ( status:pending or status:waiting ) and ( schedule.any: or due.any: or until.any: )
report.agenda.sort=scheduled+,due+,until+,description+
