# these configurations are for the taskwarrior hook-script(s) at 
#
# to "activate them" include them from your .taskrc file, something like
# include ~/path/to/agenda.rc

# alias.check_edate=( +PENDING or +WAITING ) and ( scheduled.any: or due.any: or until.any: or wait.any: ) modify +edate_checkall
alias.check_edate="( +PENDING or +WAITING ) and ( scheduled.any: or due.any: or until.any: or wait.any: ) modify +edate_checkall"
# alias.check_edate=modify +edate_checkall
alias.resched=execute "/home/djp/.task/scripts/resched.sh"
alias.agd=edate:today agenda
alias.agw=edate.after:yesterday and edate.before:eoww agenda
alias.agm=edate.after:yesterday and edate.before:eom agenda
alias.agt=edate:tomorrow agenda
alias.agnw=edate.after:eow and edate.before:eow+1w agenda
alias.agnm=edate.after:eom and edate.before:eom+1mo agenda
alias.agx=edate.before:now agenda 

uda.edate.type=date
uda.edate.label=edate

# color.uda.edate=black on green
# color.uda.edate_checkall.none=black on green
# color.uda.edate.none=green on black
urgency.uda.edate.coefficient=2
# uda.date.default=

report.edate.description=effective date -- derived from sched, due, until, wait
report.edate.labels=ID,Project,Tags,eDate,S,D,U,W,Description,Urg
report.edate.columns=id,project,tags.count,edate,scheduled,due,until,wait,description.count,urgency
report.edate.filter= ( status:pending or status:waiting ) and edate.any:
report.edate.sort=edate+,urgency-

report.agenda.description=agenda -- sched, due, until, wait
report.agenda.labels=ID,Project,Tags,Sched,Due,Until,Wait,Description,Urg
report.agenda.columns=id,project,tags,scheduled,due,until,wait,description.count,urgency
report.agenda.filter= ( status:pending or status:waiting ) and ( schedule.any: or due.any: or until.any: or wait.any: or +sch )
report.agenda.sort=edate+,urgency-


report.sched.description=Scheduled tasks, and thise with +sch tag
report.sched.labels=ID,Project,Tags,Sched,Description,Urg
report.sched.columns=id,project,tags,scheduled,description,urgency
report.sched.filter= ( status:pending or status:waiting ) and ( schedule.any: or +sch )
report.sched.sort=scheduled+,urgency-
